resources/odd/dta.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Deutsches Textarchiv (dta) (Custom ODD)
                      
                   
                  
                  <desc>A simple ODD to render documents encoded according to the </desc>
                </title>
                <title type="short">Deutsches Textarchiv</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>                    
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>, extending 
                    basisformat.odd.
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="dta.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2017-09-08">adjust metadata in teiHeader</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="dta" source="teipublisher.odd">
                <elementSpec ident="pb" mode="change">
                    <model output="epub" behaviour="break">
            <param name="type" value="'pagebreak'"/>
            <param name="label" value="@n/string()"/>
        </model>
                    <model predicate="count(../*) = 1 and count(ancestor::*) = 1" behaviour="inline" useSourceRendition="true">
            <param name="content" value="'[Empty page]'"/>
            <outputRendition xml:space="preserve">
            color: #CCC;
            </outputRendition>
        </model>
                    <model behaviour="webcomponent">
            <param name="name" value="'pb-facs-link'"/>
            <param name="emit" value="'transcription'"/>
            <param name="facs" value="let $name := replace(util:document-name($parameters?root), '^([^\.]+)\..*$', '$1') return  ``[`{$name}`/`{$name}`_`{substring-after(@facs, '#f')}`_800px.jpg]``"/>
        </model>
                </elementSpec>
                <elementSpec ident="fw" mode="change">
                    <model output="print" predicate="@place='top'" behaviour="inline" cssClass="running">
            <param name="content" value="string(.)"/>
        </model>
                    <model output="web" predicate="@place='top' and $parameters?view='page'" behaviour="inline" cssClass="running">
            <outputRendition xml:space="preserve">
            
            
            display: block;
color: #CCC;
            
            
            </outputRendition>
        </model>
                    <model output="web" predicate="@type='sig' and $parameters?view='page'" behaviour="block">
            <param name="catch" value="following-sibling::fw/node()"/>
            <pb:template xmlns="" xml:space="preserve"><div class="catch">[[catch]]</div><div class="sig">[[content]]</div></pb:template>
            <outputRendition xml:space="preserve">
            
            
            margin-top: 1em;
color: #A0A0A0;
            
            
            </outputRendition>
        </model>
                    <model output="web" predicate="@type='catch' and $parameters?view='page' and preceding-sibling::fw" behaviour="omit">
            <outputRendition xml:space="preserve">
            color: #A0A0A0;
            </outputRendition>
        </model>
                    <model output="web" predicate="@type='catch' and $parameters?view='page'" behaviour="block" cssClass="catch">
            <outputRendition xml:space="preserve">
            
            
            margin-top: 1em;
color: #A0A0A0;
            
            
            </outputRendition>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <model predicate="@break='no'" behaviour="inline" cssClass="lb hyphenated" useSourceRendition="true"/>
                    <model predicate="parent::p or parent::head" behaviour="inline" cssClass="lb" useSourceRendition="true"/>
                </elementSpec>
            <elementSpec ident="teiHeader" mode="change"/>
                <elementSpec ident="titleStmt" mode="change">
                    <model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model>
                    <model output="fo" behaviour="heading"/>
                    <model predicate="$parameters?mode='breadcrumb'" behaviour="inline">
            <desc>for breadcrumbs, pick only the first title</desc>
            <param name="content" value="title[@type='main']"/>
        </model>
                    <modelSequence output="web" predicate="$parameters?display='browse'">
            <desc>Display short header in document lists</desc>
            <model predicate="$parameters?static" behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?context-path || '/' || util:document-name(.) || '/1/index.html'"/>
            </model>
            <model predicate="not($parameters?static)" behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode='register-details'" behaviour="listItem">
            <desc>List of letters in register detail view</desc>
            <param name="content" value="head((title[@type='main'], title))"/>
        </model>
                    <model output="web" behaviour="block"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>