resources/odd/landing.odd

<?teipublisher output="web"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Landing Page</title>
            </titleStmt>
            <publicationStmt>
                <publisher>e-editiones</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="https://e-editiones.org">e-editiones.org</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.org">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2025-10-30T20:14:21.593+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd">
                <elementSpec ident="head" mode="change">
                    <model predicate="parent::figure" behaviour="block" cssClass="figure-head"/>
                    <model predicate="parent::table" behaviour="block" cssClass="table-head"/>
                    <model predicate="parent::lg" behaviour="block" cssClass="lg-head"/>
                    <model predicate="parent::list" behaviour="block" cssClass="list-head"/>
                    <model predicate="parent::div[@type=('about', 'section', 'highlights')]" behaviour="heading">
            <param name="level" value="2"/>
        </model>
                    <model predicate="parent::div[@type='hero']" behaviour="heading">
            <param name="level" value="1"/>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='strong'" behaviour="pass-through">
            <pb:template xml:space="preserve"><strong xmlns="">[[content]]</strong></pb:template>
        </model>
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="@type='partners'" behaviour="pass-through">
            <param name="content" value="list"/>
            <param name="header" value="head"/>
            <param name="desc" value="p"/>
            <pb:template xml:space="preserve"><div xmlns="" class="center-l">
            <span class="label"><pb-i18n key="menu.partners"/></span>
            <header class="center-l row">
                [[header]]
                [[desc]]
            </header>
            <div class="center-l row">
            [[content]]
            </div>
            </div></pb:template>
        </model>
                    <model predicate="@type='highlights'" behaviour="pass-through">
            <desc>Outputs the project highlights in a grid</desc>
            <param name="title" value="head"/>
            <param name="content" value="list/item"/>
            <pb:template xml:space="preserve"><section xmlns="" id="highlights" class="section-highlight">
  <header class="center-l row">
  [[title]]
  </header>
  <div class="highlights center-l">[[content]]</div>
</section></pb:template>
        </model>
                    <model predicate="ancestor::div[@type='section']" behaviour="pass-through">
            <pb:template xml:space="preserve"><article xmlns="" class="teaser">[[content]]</article></pb:template>
        </model>
                    <model predicate="@type='section'" behaviour="pass-through">
            <param name="header" value="* except div"/>
            <param name="label" value="@n"/>
            <param name="content" value="div"/>
            <param name="rend" value="@rend"/>
            <pb:template xml:space="preserve"><div xmlns="" class="center-l">
    <span class="label">[[label]]</span>
    <div class="row [[rend]]">
      <header>
        [[header]]
      </header>
      <div class="two-thirds">
      [[content]]
      </div>
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='team'" behaviour="pass-through">
            <param name="header" value="* except (listOrg|listPerson)"/>
            <param name="content" value="(listOrg|listPerson)/*"/>
            <param name="label" value="@n"/>
            <pb:template xml:space="preserve"><div xmlns="" class="center-l">
  <span class="label">[[label]]</span>
  <header class="row"><!-- horizontal alignment by default change by adding class="header-left" -->
  [[header]]
  </header>
  <div class="team-members">[[content]]</div>
</div></pb:template>
        </model>
                    <model predicate="@type='about'" behaviour="pass-through">
            <param name="label" value="@n"/>
            <param name="header" value="(head, p[1])"/>
            <param name="content" value="p[position() &gt; 1]"/>
            <param name="rend" value="@rend"/>
            <pb:template xml:space="preserve"><div xmlns="" class="center-l">
    <span class="label">[[label]]</span>
    <header class="row [[rend]]">
      [[header]]
    </header>
    <div class="long-desc">
    [[content]]
    </div>
</div></pb:template>
        </model>
                    <model predicate="@type='hero'" behaviour="pass-through">
            <param name="heading" value="head/node()"/>
            <param name="content" value="p/node()"/>
            <param name="links" value="list[@type='links']"/>
            <param name="rend" value="@rend"/>
            <pb:template xml:space="preserve"><div xmlns="" class="center-l row [[rend]]">
  <h1>[[heading]]</h1>
  <div>
    <p>[[content]]</p>
    [[links]]
  </div>
</div></pb:template>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="org" mode="add">
                    <model behaviour="pass-through">
            <desc>An organisation inside the teams section</desc>
            <param name="logo" value="ptr[@type='logo']/@target"/>
            <param name="label" value="@n"/>
            <param name="name" value="orgName"/>
            <param name="role" value="roleName"/>
            <param name="content" value="note/node()"/>
            <param name="email" value="ptr[@type='email']/@target"/>
            <pb:template xml:space="preserve"><div xmlns="" class="member-card">
  <div class="member-card--top">
    <div class="label">[[label]]</div>
    <img src="[[logo]]" alt="[[name]]" class="member-logo"/>
  </div>
  <div class="member-card--middle">
      <header>
          <h3 class="member-name">[[name]]</h3>
          <p class="title">[[role]]</p>
      </header>
      <div class="contact-links">
          <a class="email" href="[[email]]"/>
      </div>
  </div>
  <div class="member-card--description">
    [[content]]
  </div>
</div></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="person" mode="change">
                    <model behaviour="pass-through">
            <param name="label" value="@n"/>
            <param name="name" value="persName"/>
            <param name="role" value="occupation"/>
            <param name="email" value="ptr[@type='email']/@target"/>
            <param name="content" value="note/node()"/>
            <param name="avatar" value="ptr[@type='avatar']/@target"/>
            <pb:template xml:space="preserve"><div xmlns="" class="member-card">
  <div class="member-card--top">
    <div class="label">[[label]]</div>
    <img src="[[avatar]]" alt="[[name]]" class="avatar"/>
  </div>
  <div class="member-card--middle">
      <header>
          <h3 class="member-name">[[name]]</h3>
          <p class="title">[[role]]</p>
      </header>
      <div class="contact-links">
          <a class="email" href="[[email]]"/>
      </div>
  </div>
  <div class="member-card--description">
    [[content]]
  </div>
</div></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="item" mode="change">
                    <model predicate="parent::list/@type='links'" behaviour="listItem"/>
                    <model predicate="ancestor::div[@type='highlights'] and @corresp and not(index-of(repo:list(), @corresp))" behaviour="omit">
            <desc>For the highlights, first check if an application with URI given in @context is actually installed</desc>
        </model>
                    <model predicate="ancestor::div[@type='highlights']" behaviour="pass-through">
            <desc>Output a highlight card linking to an installed application</desc>
            <param name="pos" value="count(preceding-sibling::item) + 1"/>
            <param name="label" value="@n"/>
            <param name="content" value="note/node()"/>
            <param name="image" value="ptr[@type='image']/@target"/>
            <param name="title" value="desc"/>
            <param name="links" value="list[@type='links']"/>
            <pb:template xml:space="preserve"><article xmlns="" class="highlight-card area-[[pos]]" style="background-image: var(--lg), url('[[image]]');">
    <span class="label label-dark">[[label]]</span>
    <div class="desc">
        <h3>[[title]]</h3>
        <p>
            [[content]]
        </p> 
        [[links]]
    </div>
</article></pb:template>
        </model>
                    <model predicate="parent::list[@rend='partner-logos']" behaviour="pass-through">
            <desc>Output a logo card</desc>
            <param name="image" value="ref/graphic/@url"/>
            <param name="url" value="if (ref/@target != '#') then head(ref/@target) else $parameters?browse-url"/>
            <pb:template xml:space="preserve"><a xmlns="" href="[[url]]" class="partner-logo"><img src="[[image]]"/></a></pb:template>
        </model>
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="ancestor::div[@type=('highlights', 'hero')] and ancestor::list[@type='links']" behaviour="link" cssClass="button-link">
            <desc>Special treatment of refs in hightlights section</desc>
            <param name="uri" value="if (@target='#') then $parameters?browse-url else @target"/>
            <param name="target" value="if (@rend='new') then '_blank' else '_self'"/>
            <pb:template xml:space="preserve"><pb-i18n xmlns="" key="menu.[[content]]">[[content]]</pb-i18n></pb:template>
        </model>
                    <model predicate="ancestor::div[@type=('highlights', 'hero')] and @target" behaviour="link">
            <desc>Special treatment of refs in hightlights section</desc>
            <param name="uri" value="if (@target='#') then $parameters?browse-url else @target"/>
            <param name="target" value="if (@rend='new') then '_blank' else '_self'"/>
        </model>
                    <model predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="list" mode="change">
                    <model predicate="@type='links'" behaviour="list" cssClass="buttons"/>
                    <model behaviour="list" useSourceRendition="true">
            <param name="content" value="item"/>
        </model>
                </elementSpec>
            <elementSpec ident="figure" mode="change">
                    <model behaviour="block"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>