resources/odd/osinski.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Bogactwa mowy polskiej 
                  
                 
                 <desc>Polish dictionary example</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition selector=".translation">
                    color: #8888aa;
                    text-indent: 2em;
                </rendition>
                <rendition selector=".example">
                    color: #88aa88;
                    text-indent: 1em;
                </rendition>
                <rendition selector=".ref-author">
                    color: #888888;
                    font-size: 0.8em;
                </rendition>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2019-12-31+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="osinski" source="teipublisher.odd">
                <elementSpec ident="teiHeader" mode="change">
                    <model predicate="$parameters?mode='breadcrumb'" behaviour="inline">
            <param name="content" value="fileDesc/titleStmt"/>
        </model>
                    <modelSequence predicate="$parameters?mode='sidebar'">
            <model behaviour="pass-through">
                <param name="title" value="fileDesc/titleStmt"/>
                <pb:template xmlns="" xml:space="preserve"><summary>
                                [[title]]
                            </summary></pb:template>
            </model>
            <model behaviour="block">
                <param name="content" value="fileDesc/titleStmt/editor"/>
            </model>
            <model behaviour="block">
                <param name="content" value="fileDesc/publicationStmt"/>
            </model>
            <model behaviour="block">
                <param name="content" value="fileDesc/sourceDesc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="profileDesc"/>
            </model>
        </modelSequence>
                    <model output="print" behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="entryFree" mode="add">
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="form" mode="add">
                    <model predicate="$parameters?iiif-viewer='pb-facsimile'" behaviour="webcomponent">
            <param name="name" value="'pb-facs-link'"/>
            <param name="facs" value="replace(@facs, '^iiif:([^/]+).*$', '$1')"/>
            <param name="content" value="."/>
            <param name="coordinates" value="('[' || replace(@facs, '^iiif:[^/]+/(.*)$', '$1') || ']')"/>
            <param name="emit" value="'transcription'"/>
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="gram" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="parent::person or parent::place or ancestor::entryFree" behaviour="inline"/>
                    <model predicate="$parameters?mode='toc' or ancestor::listAnnotation" behaviour="omit"/>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="parent::cit or parent::def" behaviour="inline" cssClass="ref-author">
            <desc>references (authors) within translations, examples or definitions</desc>
        </model>
                    <model predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="cit" mode="change">
                    <model predicate="@type='example'" behaviour="block" cssClass="example"/>
                    <model predicate="@type='translation'" behaviour="block" cssClass="translation"/>
                </elementSpec>
                <elementSpec ident="oRef" mode="add">
                    <model behaviour="inline">
            <desc>marker for headword reference; rendered as dash</desc>
            <outputRendition xml:space="preserve" scope="before">
            content: '—';
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="gen" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@norm"/>
        </model>
                </elementSpec>
                <elementSpec ident="pos" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@norm"/>
        </model>
                </elementSpec>
                <elementSpec ident="msDesc" mode="add">
                    <modelSequence>
            <model behaviour="block">
                <desc>retrieves the primary language </desc>
                <param name="content" value="(root(.)//langUsage/language)"/>
                <outputRendition xml:space="preserve" scope="before">
                content: 'Primary language: ';
                </outputRendition>
            </model>
            <model behaviour="block">
                <desc>retrieves the form of the source from taxonomy file</desc>
                <param name="content" value="id(substring-after(root(.)//catRef[@scheme='#form']/@target, '#'), doc($global:data-root || '/taxonomy.xml'))"/>
                <outputRendition xml:space="preserve" scope="before">
                content: 'Primary source: ';
                </outputRendition>
            </model>
            <model behaviour="block">
                <outputRendition xml:space="preserve">
                content: 'Location: ';
                </outputRendition>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="respStmt" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="persName"/>
            <param name="alternate" value="resp"/>
        </model>
                </elementSpec>
                <elementSpec ident="idno" mode="add">
                    <modelSequence>
            <model behaviour="inline"/>
            <model behaviour="inline">
                <param name="content" value="ancestor::msDesc/@type"/>
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
                <outputRendition xml:space="preserve" scope="before">
                content: ' (';
                </outputRendition>
                <outputRendition xml:space="preserve" scope="after">
                content: ')';
                </outputRendition>
            </model>
        </modelSequence>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>