odd/adagia.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Erasmus Adagia</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="potocki.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2022-12-02+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="adagia" source="teipublisher.odd"> <elementSpec ident="pb" mode="change">
                    <model behaviour="pass-through" useSourceRendition="true">
            <param name="facs" value="@facs"/>
            <param name="content" value="@n"/>
            <pb:template xmlns="" xml:space="preserve"><pb-facs-link facs="[[facs]]" emit="transcription"><div class="facscaption">Źródło: <a href="https://rcin.org.pl/dlibra/publication/74578/edition/66983/content">
IBL PAN, call no. XVI.3.3 </a> [[content]] 
                            </div></pb-facs-link></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@hand" behaviour="inline" cssClass="underline"/>
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="not(@rendition)" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="@n" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
            <param name="content" value="(@n, '. ', .)"/>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="seg" mode="change">
                    <model predicate="@n" behaviour="webcomponent">
            <param name="name" value="'pb-highlight'"/>
            <param name="key" value="@n"/>
            <param name="highlight-self" value="'highlight-self'"/>
        </model>
                    <model behaviour="inline" useSourceRendition="true"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>