odd/annotations.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Annotations Testing</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>
                        Copyright 2017
                        <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>
                    Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="annotations.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-05-28+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="annotations" source="teipublisher.odd">
                <elementSpec ident="persName" mode="add">
                    <model predicate="parent::person" behaviour="inline"/>
                    <model behaviour="inline" cssClass="annotation annotation-person person"/>
                </elementSpec>
                <elementSpec ident="gloss" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            text-decoration: #c041ff underline solid 3px;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model behaviour="omit" useSourceRendition="true">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            display: block; margin-left: 4pt; color: grey; float: right;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content: '[Page ';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: ']';
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model predicate="ancestor::place" behaviour="link">
            <param name="uri" value="ancestor::place/ptr/@target"/>
            <param name="target" value="'_blank'"/>
        </model>
                    <model behaviour="inline" cssClass="annotation annotation-place place"/>
                </elementSpec>
                <elementSpec ident="term" mode="add">
                    <model behaviour="inline" cssClass="annotation annotation-term term"/>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-date date"/>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="@type='annotation'" behaviour="omit"/>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change"/>
            <elementSpec ident="orgName" mode="add">
                    <model behaviour="inline" cssClass="annotation annotation-organisation organisation"/>
                </elementSpec>
            <elementSpec ident="place" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="placeName[@type=&#34;full&#34;]"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="paragraph">
                <param name="content" value="string-join((country, region), ', ')"/>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
            </model>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="rs" mode="change">
                    <model predicate="@type='abbreviation'" behaviour="inline" cssClass="annotation annotation-abbreviation abbreviation"/>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="person" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="persName[@type=&#34;full&#34;]"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="block">
                <param name="content" value="string-join(occupation, ', ')"/>
            </model>
            <model behaviour="paragraph">
                <param name="content" value="./note/node()"/>
            </model>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="choice" mode="change">
                    <model predicate="sic and corr" behaviour="pass-through">
            <param name="sic" value="sic[1]/node()"/>
            <param name="corr" value="corr[1]/node()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="annotation annotation-sic" data-type="sic" data-annotation="{{&#34;corr&#34;: &#34;[[corr]]&#34;}}">[[sic]]</span></pb:template>
        </model>
                    <model predicate="abbr and expan" behaviour="pass-through">
            <param name="expan" value="expan[1]/node()"/>
            <param name="abbr" value="abbr[1]/node()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="annotation annotation-sic" data-type="abbr" data-annotation="{{&#34;expan&#34;: &#34;[[expan]]&#34;}}">[[abbr]]</span></pb:template>
        </model>
                    <model predicate="orig and reg" behaviour="pass-through">
            <param name="reg" value="reg[1]/node()"/>
            <param name="orig" value="orig[1]/node()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="annotation annotation-reg" data-type="reg" data-annotation="{{&#34;reg&#34;: &#34;[[reg]]&#34;}}">[[orig]]</span></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="corr" mode="change"/>
                <elementSpec ident="hi" mode="change">
                    <model behaviour="inline" cssClass="annotation annotation-hi" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="app" mode="add">
                    <model behaviour="pass-through">
            <param name="lem" value="lem[1]/node()"/>
            <param name="rdg" value="string-join(  for $rdg at $p in ./rdg return (      '&#34;rdg[' || $p || ']&#34;:&#34;' || $rdg/string() || '&#34;',         '&#34;wit[' || $p || ']&#34;:&#34;' || $rdg/@wit/string() || '&#34;'     ),     ',' )"/>
            <pb:template xmlns="" xml:space="preserve"><span class="annotation annotation-app" data-type="app" data-annotation="{{[[rdg]]}}">[[lem]]</span></pb:template>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>