odd/beamer.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="tei-pm.nvdl"
  type="application/xml"
  schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Simple customization for LaTeX beamer presentations</title>
            </titleStmt>
            <publicationStmt>
                <publisher>TEI Consortium</publisher>
                <availability>
                    <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
                        Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
                    <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
                        <p>Copyright 2014 TEI Consortium.</p>
                        <p>All rights reserved.</p>
                        <p>Redistribution and use in source and binary forms, with or without
                            modification, are permitted provided that the following conditions are met:</p>
                        <list>
                            <item>Redistributions of source code must retain the above copyright notice,
                                this list of conditions and the following disclaimer.</item>
                            <item>Redistributions in binary form must reproduce the above copyright notice,
                                this list of conditions and the following disclaimer in the documentation
                                and/or other materials provided with the distribution.</item>
                        </list>
                        <p>This software is provided by the copyright holders and contributors "as is" and
                            any express or implied warranties, including, but not limited to, the implied
                            warranties of merchantability and fitness for a particular purpose are
                            disclaimed. In no event shall the copyright holder or contributors be liable
                            for any direct, indirect, incidental, special, exemplary, or consequential
                            damages (including, but not limited to, procurement of substitute goods or
                            services; loss of use, data, or profits; or business interruption) however
                            caused and on any theory of liability, whether in contract, strict liability,
                            or tort (including negligence or otherwise) arising in any way out of the use
                            of this software, even if advised of the possibility of such damage.</p>
                    </licence>
                    <p>TEI material can be licensed differently depending on the use you intend to make
                        of it. Hence it is made available under both the CC+BY and BSD-2 licences. The
                        CC+BY licence is generally appropriate for usages which treat TEI content as data
                        or documentation. The BSD-2 licence is generally appropriate for usage of TEI
                        content in a software environment. For further information or clarification,
                        please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>created by Wolfgang for tei-simple-pm app</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec ident="docs" start="TEI teiCorpus" source="teipublisher.odd">
                <elementSpec mode="change" ident="div">
                    <model predicate="@type='block'" behaviour="beamer-block">
                        <param name="type">"block"</param>
                        <param name="content">*[not(self::head)]</param>
                        <param name="heading">head</param>
                    </model>
                    <model predicate="@type='alert'" behaviour="beamer-block">
                        <param name="type">"alertblock"</param>
                        <param name="content">*[not(self::head)]</param>
                        <param name="heading">head</param>
                    </model>
                    <model predicate="@type='frame'" behaviour="frame"/>
                    <model behaviour="section"/>
                </elementSpec>
                <elementSpec mode="change" ident="head">
                    <model predicate="parent::div[@type='frame']" behaviour="frametitle"/>
                    <model behaviour="heading"/>
                </elementSpec>
                <elementSpec mode="add" ident="code">
                    <model behaviour="code">
                        <param name="lang">@lang</param>
                    </model>
                </elementSpec>
                <elementSpec mode="change" ident="hi">
                    <model behaviour="alert"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>