odd/docx-output.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>DOCX Output Preview   <desc>A test ODD to preview TEI imported from Word docx</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2019-09-25+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="docx-output" source="teipublisher.odd"> <elementSpec ident="gi" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            font-family: Menlo, Consolas, monospace;
font-size: 0.85em;
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model predicate="@rend='smallcaps'" behaviour="link">
            <param name="uri" value="'https://www.google.de/maps/place/' || @ref"/>
            <param name="target" value="'_blank'"/>
            <outputRendition xml:space="preserve">
            color: #e24329;
font-variant: smallcaps;
            </outputRendition>
        </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: #e24329;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model predicate="@ref" behaviour="link">
            <param name="uri" value="@ref"/>
            <param name="target" value="'_blank'"/>
            <outputRendition xml:space="preserve">
            color: #007e00;
            </outputRendition>
        </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: #007e00;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="tag" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            font-family: Menlo, Consolas, monospace;
font-size: .85em;
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block                  level</desc>
            <outputRendition xml:space="preserve" scope="before">
            content: '‘';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '’';
            </outputRendition>
        </model>
                    <model behaviour="block" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block                  level</desc>
            <outputRendition xml:space="preserve">
            
            margin-left: 10px; 
margin-right: 10px;
padding-left: 10px;
border-left: 1px solid #C0C0C0;
            
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>