odd/dta.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Deutsches Textarchiv (dta) (Custom ODD)</title>
                <title type="short">Deutsches Textarchiv</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>                    
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>, extending 
                    basisformat.odd.
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="dta.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2017-09-08">adjust metadata in teiHeader</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="dta" source="teipublisher.odd">
                <elementSpec ident="pb" mode="change">
                    <model output="epub" behaviour="break">
            <param name="type" value="'pagebreak'"/>
            <param name="label" value="@n/string()"/>
        </model>
                    <model predicate="count(../*) = 1 and count(ancestor::*) = 1" behaviour="inline" useSourceRendition="true">
            <param name="content" value="'[Empty page]'"/>
            <outputRendition xml:space="preserve">
            color: #CCC;
            </outputRendition>
        </model>
                    <model behaviour="webcomponent">
            <param name="name" value="'pb-facs-link'"/>
            <param name="facs" value="let $name := replace(util:document-name($parameters?root), '^([^\.]+)\..*$', '$1') return  ``[`{$name}`/`{$name}`_`{substring-after(@facs, '#f')}`_800px.jpg]``"/>
        </model>
                </elementSpec>
                <elementSpec ident="fw" mode="change">
                    <model output="web" predicate="@place='top' and $parameters?view='page'" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
                            
                            display: inline-block;
                            margin-top: .5em;
                            margin-bottom: 1em;
                            color: #CCC;
                            
                        
            
            
            </outputRendition>
        </model>
                    <model output="web" predicate="@type='sig' and $parameters?view='page'" behaviour="block">
            <param name="catch" value="following-sibling::fw/node()"/>
            <pb:template xmlns="" xml:space="preserve"><div class="catch">[[catch]]</div><div class="sig">[[content]]</div></pb:template>
            <outputRendition xml:space="preserve">
            margin-top: 1em;
color: #A0A0A0;
            </outputRendition>
        </model>
                    <model output="web" predicate="@type='catch' and $parameters?view='page' and preceding-sibling::fw" behaviour="omit">
            <outputRendition xml:space="preserve">
            color: #A0A0A0;
            </outputRendition>
        </model>
                    <model output="web" predicate="@type='catch' and $parameters?view='page'" behaviour="block" cssClass="catch">
            <outputRendition xml:space="preserve">
            margin-top: 1em;
color: #A0A0A0;
            </outputRendition>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <modelSequence output="web" predicate="@break='no' and $parameters?view='page'">
            <model behaviour="inline">
                <param name="content" value="'-'"/>
            </model>
            <model behaviour="break">
                <param name="type" value="'line'"/>
                <param name="label" value="@n"/>
            </model>
        </modelSequence>
                    <model output="web" predicate="$parameters?view='page' and not(following-sibling::*[1][self::p|self::div])" behaviour="break" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
            <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                    <modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>