odd/dta.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Deutsches Textarchiv (dta) (Custom ODD)</title>
                <title type="short">Deutsches Textarchiv</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>                    
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>, extending 
                    basisformat.odd.
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2017-09-08">adjust metadata in teiHeader</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="dta" source="teipublisher.odd">
                <elementSpec ident="pb" mode="change">
                    <model predicate="count(../*) = 1 and count(ancestor::*) = 1" behaviour="inline" useSourceRendition="true">
                        <param name="content" value="'[Empty page]'"/>
                        <outputRendition>
                            color: #CCC;
                        </outputRendition>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="fw" mode="change">
                    <model output="web" predicate="@place='top' and $parameters?view='page'" behaviour="inline">
                        <outputRendition>
                            
                            display: inline-block;
                            margin-top: .5em;
                            margin-bottom: 1em;
                            color: #CCC;
                            
                        </outputRendition>
                    </model>
                    <model output="web" predicate="@type='sig' and $parameters?view='page'" behaviour="block">
                        <outputRendition>
                            
                            
                            
                            margin-top: 1em;
                            color: #A0A0A0;
                            text-align: left;
                            
                            
                            
                        </outputRendition>
                    </model>
                    <model output="web" predicate="@type='catch' and $parameters?view='page'" behaviour="block">
                        <outputRendition>
                            
                            
                            
                            margin-left: 20em;
                            color: #A0A0A0;
                            
                            
                            
                        </outputRendition>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <modelSequence output="web" predicate="@break='no' and $parameters?view='page'" behaviour="inline">
                        <desc>Output hyphen before break</desc>
                        <model behaviour="inline">
                            <desc>Output hyphen before break</desc>
                            <param name="content" value="'-'"/>
                        </model>
                        <model behaviour="break">
                            <param name="type" value="'line'"/>
                            <param name="label" value="@n"/>
                        </model>
                    </modelSequence>
                    <model output="web" predicate="$parameters?view='page' and not(following-sibling::*[1][self::p])" behaviour="break" useSourceRendition="true">
                        <param name="type" value="'line'"/>
                        <param name="label" value="@n"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>