odd/dta.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title type="short">Deutsches Textarchiv</title>
                <title>Deutsches Textarchiv (dta) (Custom ODD)</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref></p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>                    
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>, extending 
                    basisformat.odd.
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2017-09-08">adjust metadata in teiHeader</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd" ident="dta">
                <elementSpec ident="pb" mode="change">
                    <model predicate="count(../*) = 1 and count(ancestor::*) = 1" behaviour="inline" useSourceRendition="true">
                        <param name="content" value="'[Empty page]'"/>
                        <outputRendition>
                            color: #CCC;
                        </outputRendition>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="fw" mode="change">
                    <model output="web" predicate="@place='top'" behaviour="block">
                        <outputRendition>
                            color: #CCC;
                        </outputRendition>
                    </model>
                    <modelGrp output="web">
                    <model predicate="@type='sig'" behaviour="block">                        
                        <outputRendition>
                            margin-left: 10em;
                            margin-top: 1em;
                            color: #CCC;
                        </outputRendition>
                    </model>
                        <modelSequence>
                            <model behaviour="inline">
                                <param name="content" value="node()"/>
                            </model>
                            <model behaviour="inline">
                                <param name="content" value="following-sibling::fw[@type='catch']/node()"/>
                                <outputRendition>margin-left: 10em;</outputRendition>
                            </model>
                        </modelSequence>
                    </modelGrp>    
                    <model behaviour="omit"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>