odd/dta.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Deutsches Textarchiv (dta) (Custom ODD)</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>, extending 
                    basisformat.odd.
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2017-09-08">adjust metadata in teiHeader</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd" ident="dta">
                <elementSpec ident="pb" mode="change">
                    <model predicate="count(../*) = 1 and count(ancestor::*) = 1" behaviour="inline" useSourceRendition="true">
                        <param name="content" value="'[Empty page]'"/>
                        <outputRendition>
                            color: #CCC;
                        </outputRendition>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="fw" mode="change">
                    <model output="web" predicate="@place='top'" behaviour="block">
                        <outputRendition>
                            color: #CCC;
                        </outputRendition>
                    </model>
                    <model output="web" predicate="@type='sig'" behaviour="block">
                        <modelSequence>
                            <model behaviour="inline">
                                <param name="content" value="node()"/>
                            </model>
                            <model behaviour="inline">
                                <param name="content" value="following-sibling::fw[@type='catch']/node()"/>
                                <outputRendition>margin-left: 10em;</outputRendition>
                            </model>
                        </modelSequence>
                        <outputRendition>
                            margin-left: 10em;
                            margin-top: 1em;
                            color: #CCC;
                        </outputRendition>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>