odd/graves6-generated.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title type="short">graves6-generated</title>
                <title>ODD by Example customization</title>
            </titleStmt>
            <publicationStmt>
                <p>Unpublished first draft </p>
            </publicationStmt>
            <sourceDesc>
                <p>Derived from an analysis of 8 files from
                    /Users/HALmob/Documents/eXistapps/tei-publisher-app/data/test</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec ident="oddbyexample" start="TEI ">
                <moduleRef key="tei"/>
                <classSpec ident="att.dimensions" mode="change" type="atts">
                    <attList>
                        <attDef ident="scope" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.datable.w3c" mode="change" type="atts">
                    <attList>
                        <attDef ident="from" mode="delete"/>
                        <attDef ident="to" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.datable" mode="change" type="atts">
                    <attList>
                        <attDef ident="calendar" mode="delete"/>
                        <attDef ident="period" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.global.responsibility" mode="change" type="atts">
                    <attList>
                        <attDef ident="cert" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.naming" mode="change" type="atts">
                    <attList>
                        <attDef ident="nymRef" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.typed" mode="change" type="atts">
                    <attList>
                        <attDef ident="subtype" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.pointing" mode="change" type="atts">
                    <attList>
                        <attDef ident="targetLang" mode="delete"/>
                        <attDef ident="evaluate" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.segLike" mode="change" type="atts">
                    <attList>
                        <attDef ident="function" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.styleDef" mode="change" type="atts">
                    <attList>
                        <attDef ident="schemeVersion" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.transcriptional" mode="change" type="atts">
                    <attList>
                        <attDef ident="status" mode="delete"/>
                        <attDef ident="cause" mode="delete"/>
                        <attDef ident="seq" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.personal" mode="change" type="atts">
                    <attList>
                        <attDef ident="full" mode="delete"/>
                        <attDef ident="sort" mode="delete"/>
                    </attList>
                </classSpec>
                <!--Checking module header-->
                <classRef key="att.patternReplacement"/>
                <moduleRef
                    include="teiHeader fileDesc titleStmt editionStmt edition extent publicationStmt distributor idno availability licence seriesStmt notesStmt sourceDesc biblFull encodingDesc projectDesc editorialDecl tagsDecl rendition prefixDef listPrefixDef classDecl taxonomy profileDesc creation langUsage language textClass keywords classCode revisionDesc change"
                    key="header"/>
                <elementSpec ident="teiHeader" mode="change">
                    <attList>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="fileDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="titleStmt" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="editionStmt" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="edition" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="extent" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="publicationStmt" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="distributor" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="idno" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="DLPS"/>
                                <valItem ident="DTADirName"/>
                                <valItem ident="DTAID"/>
                                <valItem ident="EEBO-CITATION"/>
                                <valItem ident="LC-Name-Authority-File"/>
                                <valItem ident="PROQUEST"/>
                                <valItem ident="STC"/>
                                <valItem ident="URLCatalogue"/>
                                <valItem ident="URLHTML"/>
                                <valItem ident="URLText"/>
                                <valItem ident="URLWeb"/>
                                <valItem ident="URLXML"/>
                                <valItem ident="URN"/>
                                <valItem ident="VIAF"/>
                                <valItem ident="VID"/>
                                <valItem ident="isbn10"/>
                                <valItem ident="isbn13"/>
                                <valItem ident="ota"/>
                                <valItem ident="shelfmark"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="DLPS"/>
                                <valItem ident="DTADirName"/>
                                <valItem ident="DTAID"/>
                                <valItem ident="EEBO-CITATION"/>
                                <valItem ident="LC-Name-Authority-File"/>
                                <valItem ident="PROQUEST"/>
                                <valItem ident="STC"/>
                                <valItem ident="URLCatalogue"/>
                                <valItem ident="URLHTML"/>
                                <valItem ident="URLText"/>
                                <valItem ident="URLWeb"/>
                                <valItem ident="URLXML"/>
                                <valItem ident="URN"/>
                                <valItem ident="VIAF"/>
                                <valItem ident="VID"/>
                                <valItem ident="isbn10"/>
                                <valItem ident="isbn13"/>
                                <valItem ident="ota"/>
                                <valItem ident="shelfmark"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="availability" mode="change">
                    <attList>
                        <attDef ident="status" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="free"/>
                                <valItem ident="unknown"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="licence" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="seriesStmt" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="notesStmt" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="sourceDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="biblFull" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="encodingDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="projectDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="editorialDecl" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="tagsDecl" mode="change">
                    <attList>
                        <attDef ident="partial" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="rendition" mode="change">
                    <attList>
                        <attDef ident="selector" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="scheme" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="css"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="prefixDef" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="listPrefixDef" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="classDecl" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="taxonomy" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="profileDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="creation" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="langUsage" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="language" mode="change">
                    <attList>
                        <attDef ident="usage" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="textClass" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="keywords" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="classCode" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="revisionDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="change" mode="change">
                    <attList>
                        <attDef ident="target" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module analysis-->
                <classRef key="att.global.analytic"/>
                <moduleRef include="c pc s w" key="analysis"/>
                <elementSpec ident="c" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="pc" mode="change">
                    <attList>
                        <attDef ident="force" mode="delete"/>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="pre" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="s" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="w" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module transcr-->
                <classRef key="att.global.facs"/>
                <moduleRef include="fw supplied" key="transcr"/>
                <elementSpec ident="fw" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="catch"/>
                                <valItem ident="header"/>
                                <valItem ident="sig"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="place" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="bottom"/>
                                <valItem ident="top"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="supplied" mode="change">
                    <attList>
                        <attDef ident="reason" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module core-->
                <classRef key="att.milestoneUnit"/>
                <moduleRef
                    include="abbr add address addrLine author bibl cb choice cit corr date del desc editor email expan foreign gap graphic head hi item l label lb lg list measure milestone name note num orig p pb publisher pubPlace q quote ref reg relatedItem resp respStmt rs sic sp speaker stage term time title unclear"
                    key="core"/>
                <elementSpec ident="abbr" mode="change">
                    <attList>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="place" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="address" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="addrLine" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="author" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="bibl" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="M"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="cb" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="break" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="cit" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="corr" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="publication"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="desc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="editor" mode="change">
                    <attList>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="email" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="expan" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="foreign" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="gap" mode="change">
                    <attList>
                        <attDef ident="hand" mode="delete"/>
                        <attDef ident="agent" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="unit" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="chars"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="graphic" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="sub"/>
                            </valList>
                        </attDef>
                        <attDef ident="place" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="item" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="l" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="part" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="N"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="label" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="place" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="inWord"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="lg" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="song"/>
                                <valItem ident="stanza"/>
                                <valItem ident="verse"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="list" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="gloss"/>
                                <valItem ident="ordered"/>
                                <valItem ident="simple"/>
                                <valItem ident="unordered"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="gloss"/>
                                <valItem ident="ordered"/>
                                <valItem ident="simple"/>
                                <valItem ident="unordered"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="measure" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="characters"/>
                                <valItem ident="images"/>
                                <valItem ident="pages"/>
                                <valItem ident="tokens"/>
                                <valItem ident="types"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="milestone" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="tcpmilestone"/>
                            </valList>
                        </attDef>
                        <attDef ident="break" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="name" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="person"/>
                                <valItem ident="place"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="person"/>
                                <valItem ident="place"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <attList>
                        <attDef ident="targetEnd" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="place" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="bottom"/>
                                <valItem ident="end"/>
                                <valItem ident="foot"/>
                                <valItem ident="marg1"/>
                                <valItem ident="marg2"/>
                                <valItem ident="margin"/>
                                <valItem ident="unspecified"/>
                            </valList>
                        </attDef>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="remarkResponsibility"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="num" mode="change">
                    <attList>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="value" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="orig" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="p" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="break" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="publisher" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="pubPlace" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="q" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="soCalled"/>
                                <valItem ident="verse"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="reg" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="relatedItem" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="older"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="resp" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="respStmt" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="rs" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="sic" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="sp" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="speaker" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="stage" mode="change">
                    <attList>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="place" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="term" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="target" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="class"/>
                                <valItem ident="genre"/>
                                <valItem ident="license"/>
                            </valList>
                        </attDef>
                        <attDef ident="ref" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="time" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <attList>
                        <attDef ident="level" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="m"/>
                            </valList>
                        </attDef>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="main"/>
                                <valItem ident="title_page"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="main"/>
                                <valItem ident="title_page"/>
                            </valList>
                        </attDef>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="unclear" mode="change">
                    <attList>
                        <attDef ident="hand" mode="delete"/>
                        <attDef ident="reason" mode="delete"/>
                        <attDef ident="agent" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module linking-->
                <classRef key="att.global.linking"/>
                <moduleRef include="ab anchor seg" key="linking"/>
                <elementSpec ident="ab" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="anchor" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="carryOver"/>
                                <valItem ident="homograph"/>
                                <valItem ident="hyphenatedCarryOver"/>
                                <valItem ident="term"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <!--Checking module gaiji-->
                <moduleRef include="charDecl glyph glyphName g" key="gaiji"/>
                <elementSpec ident="charDecl" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="glyph" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="glyphName" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="g" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module corpus-->
                <moduleRef include="particDesc settingDesc" key="corpus"/>
                <elementSpec ident="particDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="settingDesc" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module textstructure-->
                <moduleRef
                    include="argument back body byline closer dateline div docAuthor docDate docImprint docTitle floatingText front opener salute signed TEI text titlePage titlePart trailer"
                    key="textstructure"/>
                <elementSpec ident="argument" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="back" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="body" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="byline" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="closer" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="dateline" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="bibliography"/>
                                <valItem ident="book"/>
                                <valItem ident="chapter"/>
                                <valItem ident="contents"/>
                                <valItem ident="continent"/>
                                <valItem ident="dedication"/>
                                <valItem ident="directions"/>
                                <valItem ident="div3"/>
                                <valItem ident="editor_note"/>
                                <valItem ident="encomia"/>
                                <valItem ident="encomium"/>
                                <valItem ident="halftitlenote"/>
                                <valItem ident="index"/>
                                <valItem ident="introduction"/>
                                <valItem ident="main_text"/>
                                <valItem ident="note"/>
                                <valItem ident="preface"/>
                                <valItem ident="song"/>
                                <valItem ident="spine_image"/>
                                <valItem ident="stave"/>
                                <valItem ident="table_of_contents"/>
                                <valItem ident="title_page"/>
                                <valItem ident="title_page_image"/>
                                <valItem ident="title_page_verso_image"/>
                                <valItem ident="to_the_reader"/>
                                <valItem ident="toc"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="docAuthor" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="docDate" mode="change">
                    <attList>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="docImprint" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="docTitle" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="floatingText" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="front" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="opener" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="salute" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="signed" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="TEI" mode="change">
                    <attList>
                        <attDef ident="version" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="text" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="titlePage" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="main"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="titlePart" mode="change">
                    <attList>
                        <attDef ident="type" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="main"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="trailer" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module figures-->
                <moduleRef include="cell figure formula row table" key="figures"/>
                <elementSpec ident="cell" mode="change">
                    <attList>
                        <attDef ident="role" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="label"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="figure" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="place" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="formula" mode="change">
                    <attList>
                        <attDef ident="notation" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="row" mode="change">
                    <attList>
                        <attDef ident="role" mode="change">
                            <valList mode="add" type="closed">
                                <valItem ident="label"/>
                            </valList>
                        </attDef>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="rows" mode="delete"/>
                        <attDef ident="cols" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="table" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module namesdates-->
                <moduleRef include="listPerson listPlace person place" key="namesdates"/>
                <elementSpec ident="listPerson" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="listPlace" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="person" mode="change">
                    <attList>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="sex" mode="delete"/>
                        <attDef ident="age" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="place" mode="change">
                    <attList>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
                <!--Checking module verse-->
                <moduleRef include="rhyme" key="verse"/>
                <elementSpec ident="rhyme" mode="change">
                    <attList>
                        <attDef ident="label" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                    </attList>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
