odd/graves.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Graves' Letters

                 
                  
                 <desc>Modern correspondence with visualization of prosopographical and geographical information</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <pb:behaviour ident="glossary" output="latex">
                    <pb:param name="id" value="@xml:id"/>
                    <pb:param name="name"/>
                    <pb:param name="note"/>
                    <pb:template xmlns="" xml:space="preserve">\newglossaryentry{[[id]]} {
                        name=[[name]],
                        description={[[note]]}
                        }</pb:template>
                </pb:behaviour>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-08-05+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="graves" source="teipublisher.odd">
                <elementSpec ident="name" mode="change">
                    <model output="latex" behaviour="inline">
            <param name="id" value="substring-after(@ref, '#')"/>
            <pb:template xmlns="" xml:space="preserve">\glslink{[[id]]}{[[content]]}</pb:template>
        </model>
                    <model predicate="$parameters?mode='facets' and @type='person'" behaviour="webcomponent">
            <param name="name" value="'pb-highlight'"/>
            <param name="content" value="id(substring-after(@ref, '#'), root($parameters?root))"/>
            <param name="key" value="substring-after(@ref, '#')"/>
            <param name="subscribe" value="'letter'"/>
            <param name="emit" value="'facets'"/>
            <outputRendition xml:space="preserve">
            display: block;
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode='facets' and @type='place'" behaviour="webcomponent">
            <param name="content" value="id(substring-after(@ref, '#'), root($parameters?root))"/>
            <param name="name" value="'pb-highlight'"/>
            <param name="key" value="substring-after(@ref, '#')"/>
            <param name="scroll" value="true()"/>
            <param name="subscribe" value="'letter'"/>
            <param name="emit" value="'facets'"/>
            <outputRendition xml:space="preserve">
            display: block;
            </outputRendition>
        </model>
                    <model predicate="@type='place' and id(substring-after(@ref, '#'), root($parameters?root))/location/geo" behaviour="webcomponent">
            <param name="name" value="'pb-geolocation'"/>
            <param name="longitude" value="tokenize(id(substring-after(@ref, '#'), root($parameters?root))/location/geo, ' ')[2]"/>
            <param name="latitude" value="tokenize(id(substring-after(@ref, '#'), root($parameters?root))/location/geo, ' ')[1]"/>
            <param name="label" value="id(substring-after(@ref, '#'), root($parameters?root))/placeName"/>
            <param name="key" value="substring-after(@ref, '#')"/>
            <param name="scroll" value="true()"/>
            <param name="emit" value="'letter'"/>
            <param name="duration" value="1000"/>
            <outputRendition xml:space="preserve">
            
            
            

            color: #1565c0;
cursor: pointer;

            
            
            
            </outputRendition>
        </model>
                    <model predicate="@type='person' and id(substring-after(@ref, '#'), root($parameters?root))" behaviour="webcomponent">
            <param name="name" value="'pb-highlight'"/>
            <param name="content" value="."/>
            <param name="key" value="substring-after(@ref, '#')"/>
            <param name="scroll" value="true()"/>
            <param name="emit" value="'letter'"/>
            <outputRendition xml:space="preserve">
            
            
            

            color: #bf360c;
cursor: pointer;

            
            
            
            </outputRendition>
        </model>
                    <model predicate="@type='place'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="note" mode="change"/>
            <elementSpec ident="dateline" mode="change">
                    <model output="latex" behaviour="omit"/>
                    <model behaviour="block" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            float: right;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="pb" mode="change">
                    <model behaviour="omit">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            display: block; margin-left: 4pt; color: grey; float: right;
            </outputRendition>
            <outputRendition xml:space="preserve">
            content: '[Page ';
            </outputRendition>
            <outputRendition xml:space="preserve">
            content: ']';
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="closer" mode="change">
                    <model output="latex" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve">\closing{[[content]]}</pb:template>
        </model>
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            margin: 3em 1em 20px;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="body" mode="change">
                    <modelSequence predicate="$parameters?mode='facets'">
            <model behaviour="heading">
                <param name="content" value="'Places'"/>
                <param name="level" value="2"/>
                <outputRendition xml:space="preserve">
                
                
                

























                                font-weight: 200;
border-bottom: 1px solid #A0A0A0;

























                
                
                
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="for $n in .//name[@type='place'] group by $ref := $n/@ref order by $ref return $n[1]"/>
            </model>
            <model behaviour="heading">
                <param name="content" value="'People'"/>
                <param name="level" value="2"/>
                <outputRendition xml:space="preserve">
                
                
                














                                font-weight: 200;
border-bottom: 1px solid #A0A0A0;














                
                
                
                </outputRendition>
            </model>
            <model behaviour="section">
                <param name="content" value="for $n in .//name[@type='person'] group by $ref := $n/@ref order by $ref return $n[1]"/>
            </model>
        </modelSequence>
                    <modelSequence>
            <model behaviour="index">
                <param name="type" value="'toc'"/>
            </model>
            <model behaviour="block"/>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="place" mode="add">
                    <model output="latex" behaviour="glossary">
            <param name="name" value="string-join(placeName, ', ')"/>
            <param name="note" value="note"/>
        </model>
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="string-join(placeName, ', ')"/>
                <param name="level" value="3"/>
                <outputRendition xml:space="preserve">
                margin-bottom: 0;
                </outputRendition>
            </model>
            <model predicate="location/geo" behaviour="block">
                <param name="content" value="location/geo"/>
                <outputRendition xml:space="preserve">
                font-size: .75em;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="string-join(location/* except location/geo, ', ')"/>
                <outputRendition xml:space="preserve">
                font-size: .75em;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="geo" mode="add">
                    <modelSequence>
            <model behaviour="inline">
                <param name="content" value="'Location: '"/>
            </model>
            <model output="web" behaviour="webcomponent">
                <param name="name" value="'pb-geolocation'"/>
                <param name="latitude" value="tokenize(., ' ')[1]"/>
                <param name="longitude" value="tokenize(., ' ')[2]"/>
                <param name="content" value="."/>
                <param name="emit" value="'letter'"/>
                <outputRendition xml:space="preserve">
                
                
                

                color: #1565c0;
cursor: pointer;

                
                
                
                </outputRendition>
            </model>
            <model behaviour="inline"/>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="opener" mode="change">
                    <model output="latex" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve">\opening{[[content]]}</pb:template>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="person" mode="add">
                    <model output="latex" behaviour="glossary">
            <param name="name" value="persName"/>
            <param name="note" value="note"/>
        </model>
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="persName"/>
                <param name="level" value="3"/>
                <outputRendition xml:space="preserve">
                margin-bottom: 0;
                </outputRendition>
            </model>
            <model predicate="birth or death or occupation" behaviour="block">
                <param name="content" value="(occupation, birth, death)"/>
                <outputRendition xml:space="preserve">
                
                
                
                font-size: .85em;
margin-bottom: .5em;
                
                
                
                </outputRendition>
            </model>
            <model predicate="idno" behaviour="block">
                <param name="content" value="idno"/>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
            </model>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="postscript" mode="change">
                    <model output="latex" behaviour="block">
            <pb:template xmlns="" xml:space="preserve">\ps [[content]]</pb:template>
        </model>
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="('Postscript by ', id(substring-after(@resp, '#'), root(.))/persName)"/>
                <param name="level" value="5"/>
                <outputRendition xml:space="preserve">
                
                
                
                margin-top: 10px;
padding-top: 10px;
border-top: 1px solid #A0A0A0;
font-style: italic;
                
                
                
                </outputRendition>
            </model>
            <model behaviour="block"/>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model predicate="parent::person and (forename or surname)" behaviour="inline">
            <param name="content" value="(forename, ' ', surname[not(@type='married')], if (surname[@type='married']) then (' (', string-join(surname[@type='married'], ', '), ')') else ())"/>
        </model>
                    <model predicate="parent::person" behaviour="inline"/>
                    <model behaviour="alternate">
            <param name="alternate" value="id(@ref, doc(&#34;/db/apps/tei-publisher/data/register.xml&#34;))"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            
            text-decoration: underline;
--pb-popover-theme: 'light';
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="birth" mode="add">
                    <model predicate="following-sibling::death" behaviour="inline">
            <param name="content" value="('* ', ., '; ')"/>
        </model>
                    <model behaviour="inline">
            <param name="content" value="('* ', .)"/>
        </model>
                </elementSpec>
                <elementSpec ident="death" mode="add">
                    <model behaviour="inline">
            <param name="content" value="('âœ', .)"/>
        </model>
                </elementSpec>
                <elementSpec ident="occupation" mode="add">
                    <model behaviour="inline">
            <param name="content" value="(., ' ')"/>
        </model>
                </elementSpec>
            <elementSpec ident="idno" mode="add">
                    <model predicate="@type='VIAF' and following-sibling::idno" behaviour="link">
            <param name="uri" value="'https://viaf.org/viaf/' || string() || '/'"/>
            <param name="content" value="'VIAF'"/>
            <outputRendition xml:space="preserve" scope="after">
            content: ', ';
            </outputRendition>
        </model>
                    <model predicate="@type='VIAF'" behaviour="link">
            <param name="uri" value="'https://viaf.org/viaf/' || string() || '/'"/>
            <param name="content" value="'VIAF'"/>
        </model>
                    <model predicate="@type='LC-Name-Authority-File' and following-sibling::idno" behaviour="link">
            <param name="uri" value="'https://lccn.loc.gov/' || string()"/>
            <param name="content" value="'LoC Authority'"/>
            <outputRendition xml:space="preserve">
            content: ', ';
            </outputRendition>
        </model>
                    <model predicate="@type='LC-Name-Authority-File'" behaviour="link">
            <param name="uri" value="'https://lccn.loc.gov/' || string()"/>
            <param name="content" value="'LoC Authority'"/>
        </model>
                </elementSpec>
            <elementSpec ident="TEI" mode="change">
                    <model output="latex" behaviour="inline">
            <param name="glossary" value="(teiHeader//particDesc/listPerson/person, teiHeader//settingDesc/listPlace/place)"/>
            <param name="content" value="text"/>
            <param name="header" value="teiHeader"/>
            <param name="date" value="text/body/opener/dateline/date"/>
            <param name="from" value="teiHeader//correspDesc/correspAction[@type='sending']"/>
            <param name="to" value="teiHeader//correspDesc/correspAction[@type='receiving']"/>
            <pb:template xmlns="" xml:space="preserve">\documentclass[10pt,a4paper,fromalign=right]{scrlttr2}

\usepackage[british]{babel}
\usepackage{hyperref}
\usepackage{glossaries}
\makenoidxglossaries

\usepackage{fancyhdr}
\pagestyle{fancy}

\fancyhf{}
\fancyhead[LO,RE]{\footnotesize\volume}
\fancyfoot[LE,RO]{\footnotesize\thepage}

\setkomavar{date}{[[date]]}

[[glossary]]

\begin{document}

[[header]]

\begin{letter}[[to]]
[[from]]
[[content]]
\end{letter}

\printnoidxglossaries

\end{document}</pb:template>
        </model>
                    <model behaviour="document"/>
                </elementSpec>
            <elementSpec ident="teiHeader" mode="change">
                    <model output="latex" behaviour="inline">
            <param name="content" value="(fileDesc/titleStmt/title[not(@type)])"/>
            <pb:template xmlns="" xml:space="preserve">\def\volume{[[content]]}</pb:template>
        </model>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                    <model output="web" behaviour="metadata"/>
                </elementSpec>
                <elementSpec ident="correspAction" mode="add">
                    <model output="latex" predicate="@type='sending'" behaviour="inline">
            <param name="name" value="persName"/>
            <param name="location" value="settlement"/>
            <pb:template xmlns="" xml:space="preserve">\setkomavar{fromname}{[[name]]}
\setkomavar{fromaddress}{[[location]]}</pb:template>
        </model>
                    <model output="latex" predicate="@type='receiving'" behaviour="inline">
            <param name="name" value="persName"/>
            <param name="location" value="settlement"/>
            <pb:template xmlns="" xml:space="preserve">{[[name]]\\[[location]]}</pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="placeName" mode="add">
                    <model behaviour="alternate">
            <param name="alternate" value="id(@ref, doc(&#34;/db/apps/tei-publisher/data/register.xml&#34;))"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            
            
            text-decoration: underline;
--pb-popover-theme: 'light';
            
            
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="term" mode="add">
        <model behaviour="alternate">
            <param name="alternate" value="id(@ref, doc(&#34;/db/apps/tei-publisher/data/register.xml&#34;))"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
    </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>