odd/jats.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>JATS
                    <desc>Processing of JATS XML (Journal Article Tag Suite)</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="jats" ns="">
                <elementSpec ident="body" mode="add">
                    <model behaviour="body"/>
                </elementSpec>
                <elementSpec ident="sec" mode="add">
                    <model behaviour="section"/>
                </elementSpec>
                <elementSpec ident="title" mode="add">
                    <model behaviour="heading">
                        <param name="level" value="count(ancestor::sec)"/>
                    </model>
                </elementSpec>
                <elementSpec ident="p" mode="add">
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="list" mode="add">
                    <model behaviour="list">
                        <param name="type" value="if (@list-type = 'order') then 'ordered' else ()"/>
                    </model>
                </elementSpec>
                <elementSpec ident="list-item" mode="add">
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="uri" mode="add">
                    <model behaviour="link">
                        <param name="uri" value="@xlink:href"/>
                    </model>
                </elementSpec>
                <elementSpec ident="bold" mode="add">
                    <model behaviour="inline">
                        <outputRendition>
                            font-weight: bold;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="italic" mode="add">
                    <model behaviour="inline">
                        <outputRendition>
                            font-style: italic;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="table-wrap" mode="add">
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="table" mode="add">
                    <model behaviour="table" cssClass="table"/>
                </elementSpec>
                <elementSpec ident="tr">
                    <model behaviour="row"/>
                </elementSpec>
                <elementSpec ident="td">
                    <model behaviour="cell"/>
                </elementSpec>
                <elementSpec ident="th">
                    <model behaviour="cell" useSourceRendition="true">
                        <outputRendition>
                            font-weight: bold;
                            text-align: center;
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="article-meta" mode="add">
                    <model behaviour="block">
                        <param name="content" value="title-group"/>
                    </model>
                </elementSpec>
                <elementSpec ident="title-group" mode="add">
                    <modelSequence>
                        <model behaviour="link">
                            <param name="content" value="article-title"/>
                            <param name="uri" value="$parameters?doc"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="subtitle"/>
                        </model>
                    </modelSequence>
                </elementSpec>
                <elementSpec ident="article-title" mode="add">
                    <model predicate="$parameters?header='short'" behaviour="heading">
                        <param name="level" value="5"/>
                    </model>
                </elementSpec>
                <elementSpec ident="subtitle" mode="add">
                    <model behaviour="heading">
                        <param name="level" value="6"/>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
