odd/lex-0.odd

<?xml-model href="teipublisher_odds.xsd"?><?teipublisher output="web"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Lex-0<desc>ODD for the "Damen Conversations Lexikon" (simple TEI Lex-0 encoding)</desc></title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition selector="h3">
                    font-size: 1.5rem;
                    margin: 0 0 1rem 0;
                </rendition>
                <rendition selector="h3 &gt; span + span">
                    font-size: 1rem;
                    padding-left: 1rem;
                </rendition>
                <rendition selector=".author::after">
                    content: ", ";
                </rendition>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2023-07-12Z">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="lex-0" source="teipublisher.odd"> <elementSpec ident="term" mode="add">
                    <model predicate="@type='headword'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="form" mode="add">
                    <model behaviour="heading">
            <param name="level" value="2"/>
        </model>
                </elementSpec>
            <elementSpec ident="sense" mode="add">
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='spaced'" behaviour="inline">
            <outputRendition xml:space="preserve">
            letter-spacing: .25rem;
            </outputRendition>
        </model>
                    <model predicate="@rend='bold'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="author" mode="change">
                    <model predicate="ancestor::teiHeader" behaviour="inline" cssClass="author"/>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="bibl" mode="change">
                    <model predicate="parent::listBibl" behaviour="listItem"/>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="@type='footnote'" behaviour="note">
            <param name="content" value="id(@target, root($parameters?root))/node()"/>
        </model>
                    <model predicate="@type='entry'" behaviour="inline">
            <param name="content" value="."/>
            <param name="search" value="normalize-space(.)"/>
            <pb:template xmlns="" xml:space="preserve"><pb-link emit="detail" history="" params="{{&#34;search&#34;: &#34;[[search]]&#34;}}">
  [[content]]
</pb-link></pb:template>
        </model>
                    <model predicate="@target" behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
                    <modelSequence predicate="$parameters?header='short'">
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="titleStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="editionStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="publicationStmt"/>
            </model>
            <model behaviour="block" cssClass="sample-description">
                <param name="content" value="../profileDesc/abstract"/>
            </model>
        </modelSequence>
                    <modelSequence>
            <model behaviour="pass-through">
                <param name="title" value="titleStmt/title"/>
                <param name="content" value="(titleStmt/author, publicationStmt/date)"/>
                <param name="level" value="3"/>
                <pb:template xmlns="" xml:space="preserve">
                    <h3>[[title]]<span>[[content]]</span></h3>
                </pb:template>
            </model>
            <model behaviour="pass-through">
                <param name="content" value="root($parameters?root)//front/div[@type='preface']"/>
                <pb:template xmlns="" xml:space="preserve">
                    <pb-collapse>
                        <div slot="collapse-trigger">Preface</div>
                        <div slot="collapse-content">[[content]]</div>
                    </pb-collapse>
                </pb:template>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="TEI" mode="change">
                    <model behaviour="document">
            <param name="content" value="teiHeader/fileDesc"/>
        </model>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                    <modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="note" mode="change">
        <model behaviour="omit"/>
    </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>