odd/potocki.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Potocki Moralia</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition selector=".name">
                    color: #339900;
                </rendition>
                <rendition selector=".name.disable">
                    color: inherit;
                </rendition>
                <rendition selector=".choice,.choice-alternate">
                    color: #888888;
                </rendition>
                <rendition selector=".foreign">
                    font-weight: bold;
                </rendition>
                <rendition selector=".foreign.disable">
                    font-weight: normal;
                </rendition>
                <rendition selector=".choice-alternate">
                    display: none;
                </rendition>
                <rendition selector=".choice-alternate.toggle">
                    display: inline;
                </rendition>
                <rendition selector=".choice.toggle">
                    display: none;
                </rendition>
                <rendition selector=".pc-choice-alternate">
                    display: none;
                </rendition>
                <rendition selector=".pc-choice-alternate.toggle">
                    display: inline;
                </rendition>
                <rendition selector=".pc-choice.toggle">
                    display: none;
                </rendition>
                <rendition selector=".pc-choice">
                    display: inline;
                </rendition>
                <rendition selector=".lb.toggle">
                    display: none;
                </rendition>
                <rendition source="potocki.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2022-11-23+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="potocki" source="teipublisher.odd"> 
                                <elementSpec ident="choice" mode="change">
                    <modelSequence predicate="parent::pc">
            <model behaviour="alternate" cssClass="pc-choice">
                <param name="default" value="*[2]"/>
                <param name="alternate" value="*[1]"/>
            </model>
            <model behaviour="alternate" cssClass="pc-choice-alternate">
                <param name="default" value="*[1]"/>
                <param name="alternate" value="*[2]"/>
            </model>
        </modelSequence>
                    <modelSequence>
            <model behaviour="alternate" cssClass="choice">
                <param name="default" value="*[2]"/>
                <param name="alternate" value="*[1]"/>
            </model>
            <model behaviour="alternate" cssClass="choice-alternate">
                <param name="default" value="*[1]"/>
                <param name="alternate" value="*[2]"/>
            </model>
        </modelSequence>
                </elementSpec>

                 <elementSpec ident="pb" mode="change">
                    <model predicate="starts-with(@facs, 'iiif:')" behaviour="webcomponent" cssClass="facs" useSourceRendition="true">
            <param name="name" value="'pb-facs-link'"/>
            <param name="content" value="@n"/>
            <param name="emit" value="'transcription'"/>
            <param name="facs" value="replace(@facs, '^iiif:(.*)$', '$1')"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            font-size: 16px;
                            color: #888888;
                            cursor: pointer;
                            display: inline;
                            display: block;
                            margin-right: -32px;
                            float: right;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
               
            <elementSpec ident="ref" mode="change">
                    <model predicate="@corresp and @target" behaviour="inline">
            <param name="content" value="."/>
            <param name="eebo" value="let $corresp:= substring-after(@corresp, ':') return  collection('/db/apps/tei-publisher/data/test')/id($corresp)"/>
            <param name="target" value="if(starts-with(@target, 'ihrim')) then 'http://ihrim.huma-num.fr/nmh/Erasmus/Proverbia/' || substring-after(@target, ':') || '.html' else ()"/>
            <param name="label" value="@n"/>
            <param name="ihrim" value="let $ihrim:= substring-after(@target, ':') return  collection('/db/apps/tei-publisher/data/test')/id($ihrim)/div[@xml:lang='la']"/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover persistent="[[persistent]]">[[content]] <iron-icon icon="launch"/><span slot="alternate"><span>[[label]]</span><a href="adagia_parallel.xml" target="_blank">Adagia <iron-icon icon="launch"/></a><br/><a href="[[target]]" target="_blank">Nouveaux mondes humanistes &gt; Erasmus</a><br/>[[ihrim]]<br/>[[eebo]]</span></pb-popover></pb:template>
        </model>
                    <model predicate="not(@target)" behaviour="inline"/>
                    <model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="link">
            <param name="uri" value="@target"/>
            <param name="target" value="'_blank'"/>
        </model>
                </elementSpec>
            <elementSpec ident="l" mode="change">
                    <model predicate="starts-with(@facs, 'iiif:')" behaviour="block" cssClass="verse">
            <param name="facs" value="replace(@facs, '^iiif:([^/]+).*$', '$1')"/>
            <param name="content" value="."/>
            <param name="coordinates" value="('[' || replace(@facs, '^iiif:[^/]+/(.*)$', '$1') || ']')"/>
            <pb:template xmlns="" xml:space="preserve">
                                <pb-facs-link facs="[[facs]]" coordinates="[[coordinates]]" emit="transcription">[[content]]</pb-facs-link></pb:template>
        </model>
                    <model behaviour="block" cssClass="verse" useSourceRendition="true"/>
                </elementSpec>
            <elementSpec ident="hi" mode="change">
                    <model predicate="@hand" behaviour="inline" cssClass="underline"/>
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="not(@rendition)" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="note" mode="change">
                    <model predicate="@type='ling'" behaviour="note" cssClass="ling">
            <pb:template xmlns="" xml:space="preserve"><span class="ling">[[content]]</span></pb:template>
        </model>
                    <model predicate="$parameters?view=&#34;introduction&#34; and @type=&#34;introduction&#34;" behaviour="pass-through">
            <param name="refs" value="let $refs := parent::div//persName[@type=&#34;author&#34;]/@ref for $r in $refs group by $r return id( $r, $parameters?root)"/>
            <pb:template xmlns="" xml:space="preserve"><div class="introduction">
  [[content]]
  <div class="authors"><h3>Related authors</h3>[[refs]]</div>
</div></pb:template>
        </model>
                    <model predicate="@type=&#34;introduction&#34;" behaviour="omit" cssClass="introduction">
            <desc>omit in the reading panel</desc>
        </model>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="$parameters?view='introduction'" behaviour="block">
            <param name="content" value=".//note[@type='introduction']"/>
        </model>
                    <model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model>
                    <model predicate="parent::body or parent::front or parent::back" behaviour="section"/>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model behaviour="inline" cssClass="quote" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="person" mode="add">
                    <model behaviour="block" cssClass="person">
            <param name="content" value="persName"/>
            <param name="number" value="'https://d-nb.info/gnd/' || substring-after(@xml:id, 'gnd-')"/>
            <pb:template xmlns="" xml:space="preserve"><a href="[[number]]" target="_blank">[[content]]</a></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="distinct" mode="add">
                    <model predicate="note" behaviour="inline" cssClass="distinct"/>
                    <modelSequence predicate="note">
            <model behaviour="inline" cssClass="distinct">
                <param name="content" value="seg"/>
            </model>
            <model predicate="note" behaviour="note">
                <param name="content" value="note"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="graphic" mode="change">
                    <model behaviour="graphic" cssClass="graphic">
            <param name="url" value="@url"/>
            <param name="width" value="@width"/>
            <param name="height" value="@height"/>
            <param name="scale" value="@scale"/>
            <param name="title" value="caption"/>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>