odd/serafin.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Letters by Mikołaj Serafin</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2018-08-31+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="serafin" source="teipublisher.odd"> <elementSpec ident="lb" mode="change">
                    <model behaviour="omit" useSourceRendition="true"/>
                </elementSpec>
                <elementSpec ident="anchor" mode="change">
                    <model behaviour="note">
                        <param name="content" value="let $target := '#' || @xml:id return root(.)//div[@type='notes']/note[@target=$target]"/>
                    </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model predicate="parent::person" behaviour="inline"/>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="id(substring-after(@ref, '#'), root(.))"/>
                    </model>
                </elementSpec>
                <elementSpec ident="person" mode="add">
                    <model predicate="parent::listPerson" behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="parent::person" behaviour="inline">
                        <outputRendition scope="selected">
                            content: ': ';
                        </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model predicate="parent::place" behaviour="inline">
                        <outputRendition scope="before">
                            content: ': ';
                        </outputRendition>
                    </model>
                    <model behaviour="alternate">
                        <param name="default" value="."/>
                        <param name="alternate" value="id(substring-after(@ref, '#'), root(.))"/>
                        <outputRendition scope="before">
                            content: 'abc';
                        </outputRendition>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>