odd/shakespeare.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Shakespeare Plays</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2018-08-30+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="shakespare" source="teipublisher.odd">
                <elementSpec ident="pb" mode="change">
                    <model behaviour="webcomponent" cssClass="facs">
            <param name="name" value="'pb-facs-link'"/>
            <param name="content" value="@n"/>
            <param name="facs" value="replace(@facs, '^FFimg:(.*)$', '$1')"/>
            <outputRendition>


                            font-size: 16px;
                            color: #888888;
                            cursor: pointer;
                            display: inline;
                            display: block;
                            margin-right: -32px;
                            float: right;


            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <model predicate="not(parent::p)" behaviour="omit"/>
                    <model behaviour="break" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="speaker" mode="change">
                    <model behaviour="inline">
            <outputRendition>
            font-style:italic; margin-right: 1rem; display: inline-block; text-indent: 2rem;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="l" mode="change">
                    <model predicate="preceding-sibling::*[1][self::speaker]" behaviour="inline"/>
                    <model behaviour="block" useSourceRendition="true">
            <outputRendition>
            margin-left: 1em;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="p" mode="change">
                    <model predicate="ancestor::sp" behaviour="inline" useSourceRendition="true"/>
                    <model behaviour="paragraph" useSourceRendition="true">
            <outputRendition>
            text-align: justify;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="stage" mode="change">
                    <model predicate="contains(@rend, 'rightJustified')" behaviour="block">
            <outputRendition>
            font-style: italic; text-align: right;
            </outputRendition>
        </model>
                    <model predicate="contains(@rend, 'center')" behaviour="block">
            <outputRendition>
            font-style: italic; text-align: center;
            </outputRendition>
        </model>
                    <model behaviour="block">
            <outputRendition>
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="@type='supplied'" behaviour="omit"/>
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition>
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition>
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition>
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition>
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="c" mode="change">
                    <model predicate="@rend='decoratedCapital'" behaviour="inline">
            <outputRendition>
            font-size: 3em; line-height: 0.9;
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="fw" mode="change">
                    <model output="web" predicate="@type='rh'" behaviour="block">
            <outputRendition>
            color: #CCC;
            </outputRendition>
        </model>
                    <model output="web" predicate="@type='catchword'" behaviour="block" cssClass="catchword">
            <outputRendition>


                            float: right;
                            margin-top: 1em;
                            color: #CCC;


            </outputRendition>
        </model>
                    <model output="web" predicate="@type='sig'" behaviour="block" cssClass="sig">
            <outputRendition>


                            text-align: center;
                            margin-top: 1em;
                            color: #CCC;


            </outputRendition>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
        <model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model>
        <model output="fo" behaviour="heading"/>
        <model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="title[@type='statement']"/>
            <param name="level" value="5"/>
        </model>
        <modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence>
        <model output="web" behaviour="block"/>
    </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
