odd/tei-pm.nvdl

<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="tei">
    <mode name="nested">
        <namespace ns="http://purl.oclc.org/dsdl/schematron">
            <attach useMode="allow"/>
        </namespace>
        <namespace ns="http://relaxng.org/ns/structure/1.0">
            <attach useMode="allow"/>
        </namespace>
        <namespace ns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <allow/>
        </namespace>
        <namespace ns="http://www.tei-c.org/ns/Examples">
            <!--      <validate schema="tei-pm-examples.rng" useMode="nested">
        <option name="http://www.thaiopensource.com/validate/feasible"/>
      </validate>
      <attach useMode="allow"/>
-->
            <allow/>
        </namespace>
        
        <!-- allow XInclude without checking -->
        <namespace ns="http://www.w3.org/2001/XInclude">
            <allow/>
        </namespace>
    </mode>
    <mode name="tei">
        <namespace ns="http://www.tei-c.org/ns/1.0">
            <validate schema="tei-pm.isosch" useMode="nested"/>
            <validate schema="tei-pm.rng" useMode="nested"/>
        </namespace>
    </mode>
    <mode name="allow">
        <anyNamespace>
            <attach/>
        </anyNamespace>
    </mode>
</rules>