odd/teipublisher.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://jenkins.tei-c.org/job/TEIP5/lastSuccessfulBuild/artifact/P5/release/xml/tei/odd/p5.nvdl" type="application/xml" schematypens="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Publisher Default Custom ODD</title>
            </titleStmt>
            <publicationStmt>
                <p>Default customization used by TEI Publisher. Extends tei_simplePrint.odd  
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="tei_simplePrint.odd" ident="teipublisher">
                <elementSpec ident="text" mode="change">
                    <model behaviour="body">
                        <desc>tei_simplePrint.odd sets a font and margin on the text body. We
                            don't want that.</desc>
                    </model>
                </elementSpec>
                <elementSpec ident="figure" mode="change">
                    <model predicate="head or @rendition='simple:display'" behaviour="block"/>
                    <model behaviour="inline">
                        <desc>Changed to not show a blue border around the figure</desc>
                    </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="inline">
                        <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
                    </model>
                    <model predicate="parent::figure" behaviour="block">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="parent::table" behaviour="block">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="parent::lg" behaviour="block">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                    <model predicate="parent::list" behaviour="block">
                        <outputRendition>font-weight: bold;</outputRendition>
                    </model>
                    <model predicate="parent::div" behaviour="heading">
                        <param name="level" value="count(ancestor::div)"/>
                    </model>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="teiHeader" mode="change">
                    <model output="latex" behaviour="metadata"/>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                    <model output="web" behaviour="metadata"/>
                </elementSpec>
                <elementSpec mode="change" ident="fileDesc">
                    <modelSequence predicate="$parameters?header='short'">
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="titleStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="editionStmt"/>
                        </model>
                        <model behaviour="block" cssClass="header-short">
                            <param name="content" value="publicationStmt"/>
                        </model>
                    </modelSequence>
                    <model behaviour="title">
                        <param name="content" value="titleStmt"/>
                    </model>
                </elementSpec>
                <elementSpec ident="titleStmt" mode="add">
                    <model output="latex" behaviour="meta">
                        <param name="content" value="."/>
                    </model>
                    <model output="fo" behaviour="heading"/>
                    <modelSequence output="web" predicate="$parameters?header='short'">
                        <model behaviour="link">
                            <param name="content" value="title[1]"/>
                            <param name="link" value="$parameters?doc"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="subsequence(title, 2)"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="author"/>
                        </model>
                    </modelSequence>
                    <model output="web" behaviour="block"/>
                </elementSpec>
                <elementSpec ident="publicationStmt" mode="add">
                    <model output="web" behaviour="block">
                        <param name="content" value="availability/licence"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="licence" mode="add">
                    <model output="web" behaviour="link" predicate="@target" cssClass="licence">
                        <param name="content" value="'Licence'"/>
                        <param name="link" value="@target"/>
                    </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="heading">
                        <param name="level" value="5"/>
                    </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
                        <model predicate="preceding-sibling::title" behaviour="text">
                            <param name="content" value="' — '"/>
                        </model>
                        <model behaviour="inline">
                            <outputRendition>color: red; font-size: 2em;</outputRendition>
                        </model>
                    </modelSequence>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                    <modelSequence predicate="@level='m' or not(@level)">
                        <model behaviour="inline">
                            <outputRendition>font-style: italic;</outputRendition>
                        </model>
                        <model predicate="ancestor::biblFull" behaviour="text">
                            <param name="content" value="', '"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
                        <model behaviour="inline">
                            <outputRendition>font-style: italic;</outputRendition>
                        </model>
                        <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                            <param name="content" value="', '"/>
                        </model>
                    </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
                        <model behaviour="inline">
                            <outputRendition>font-style: italic;</outputRendition>
                        </model>
                        <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                            <param name="content" value="'. '"/>
                        </model>
                    </modelSequence>
                    <model behaviour="inline">
                        <outputRendition>font-style: italic;</outputRendition>
                    </model>
                </elementSpec>
                <elementSpec mode="change" ident="author">
                    <model predicate="ancestor::teiHeader" behaviour="block">
                        <outputRendition scope="before">content: 'By ';</outputRendition>
                    </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec mode="change" ident="edition">
                    <model predicate="ancestor::teiHeader" behaviour="block">
                        <outputRendition scope="before">content: 'Edition: ';</outputRendition>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>